body{
    background-color: #f2efe6;
}

.btn-primary {
    color: #fff;
    background-color: #fff;
    border-color: #2e6da4;
}

.navbar-inverse {
    background-color: #000;
    border-color: #080808;
}
.titulo{
    color: #a8dbf4;
}
a:hover {
    color: #fff;
    text-decoration: none;
}

.logado{
    font-size:14px;
}

.comum{
    background-color: #fff;
}

.btn.focus, .btn:focus, .btn:hover {
    background-color: #c2dbef !important;
    text-decoration: none;
}

/* Para a customização da largura dos campos de form: echo $this->Form->input('grupo',['class'=>'col2']); */
.col1{
    width:50px;
}

.col2{
    width:100px;
}

.col4{
    width:200px;
}

.col8{
    width:400px;
}

.col9{
    width:950px;
}
